.container {
	display: flex;
	justify-content: center;
	padding:0 0;
}

.form {
	width: 450px;
	background: var(--white);
	border-radius: 2px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.heading {
	margin: 5px;
}

.input {
	width: calc(100% - 20px);
	height: 40px;
	outline: none;
	border: 1px solid var(--black);
	border-radius: 2px;
	font-size: 16px;
	padding: 0 5px;
	margin: 5px 0;
}

.submit_btn {
	outline: none;
	font-size: 14px;
	font-weight: bold;
	background: rgb(158, 148, 148);
	padding: 10px 20px;
	border: 1px solid var(--black);
	border-radius: 2px;
	cursor: pointer;
	margin: 5px 5px 5px auto;
}
h1, h3 {
	text-align: center;
  }

  .title{
	padding: 0;
  }